<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>headers}}
        <p>This site was created by Sarthak Choudhary. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/wTeqWeF.jpg" alt="">

        </div>
        {{>footers}}
    </body>
    
</html>